<div class="sign-in-form">
  <h1>Sign In</h1>

  <form action="/session" method="post" role="form">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="form-group">
      <label>Email
        <input name="user[email]" type="text" class="form-control"
               placeholder="Email">
      </label>
    </div>
    <div class="form-group">
      <label>Password
        <input name="user[password]" type="password" class="form-control"
               placeholder="Password">
      </label>
    </div>
    <input type="submit" value="Sign In" class="btn btn-primary"><br>
    <br>
    <button class="btn btn-primary guest-login">Guest Login</button>
  </form>
</div>

<script>
  $(function(){
    $("button").on("click", function(event){
      event.preventDefault();
      $.ajax({
        url: "/session",
        type: "POST",
        data: {
          "user": {
            "email": "ripe@gmail.com",
            "password": "password"
          }
        },
        success: function(){
          window.location.pathname = "/";
        }
      })
    })
  })
</script>
