<form>
<textarea class="desc_text" name="card[description]">
</textarea>
<input class="submit-form btn btn-success" type="submit" value="Submit" class="btn btn-success">
<button class="close-form btn btn-default">X</button>
</form>
