<form>
  <input type="hidden" name="card[ord]"
         value="<%= ord %>">
  <input type="text"
         name="card[title]"
         placeholder="New Card Title">
  <input type="submit" value="Add" class="btn btn-success">
</form>
