<form>
  <input type="text"
         name="board[title]"
         placeholder="Enter Board Title">
  <input type="submit" value="Create" class="btn btn-info">
  <button class="close-form btn btn-info"><span class="glyphicon glyphicon-remove"></span></button>
</form>
