/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

li.board-index-item{
  display:inline-block;
  width:25%;
  background:#2980b9;
  color: #ecf0f1;
  height: 80px;
  text-align: left;
  border:1px black solid;
  padding-left:3px;
  padding-top: 3px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5%;
}

div.board-show{
  background:#2980b9;
  height:500px;
}

li.list-item{
  display:inline-block;
  width:25%;
  background:#ecf0f1;
  height: 80px;
  text-align: left;
  border:1px black solid;
  padding-left:3px;
  padding-top: 3px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5%;
}
