/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

#main h1{
  margin-left:63px;
}
#main h1.board-title{
  color:#95A5A6;
  font-weight:lighter;
  font-size:3em;
}

div#index{
  margin:0;
}
li.board-index-item{
  display:inline-block;
  width:20%;
  background:#34495E;
  opacity:0.9;
  color: #ecf0f1;
  font-size:1.3em;
  height: 80px;
  text-align: left;
  border:1px black solid;
  padding-left:3px;
  padding-top: 3px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

li.board-index-item:hover{
  cursor:pointer;
}

div.board-show{
  min-height:700px;
  background:#34495E;
  width:auto;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
}

// for the list blocks
li.list-item{
  display:inline-block;
  width:200px;
  background:#DADFE1;
  text-align: left;
  border:1px black solid;
  padding-left:10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align:top;
  border-radius:10px;
}

li.card-item{
  list-style:none;
  display:block;
  height:auto;
  margin-bottom:20px;
  border-radius:5px;
  background:#ecf0f1;
  padding-left:5px;
  padding-top:5px;
  padding-bottom:5px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  width:90%;
}

li.card-item:hover{
  cursor:pointer;
  background:#ABB7B7;
}

ul.list-items{
  display:inline-block;
}

div.new-list-form{
  display:inline-block;
}

span.list-item-header{
  width:100%;
  display:inline-block;
  position:relative;
}

span.list-item-header span.glyphicon {
  position:absolute;
  right:0;
}

ul.sortable-card-items{
  min-height:120px;
  padding:10px;
}

div#main{
  position:relative;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #333333;
  opacity:0.8;
}
nav.navbar.navbar-default{
  margin-bottom:0px;
}

body{
  margin:0
}
