<form>
  <input type="hidden" name="list[ord]"
         value="<%= ord %>">
  <input type="text" name="list[title]"
         placeholder="Add a list"
         id="list_title">
  <input type="submit" value="Save" class="btn btn-success">
</form>
